@font-face {
    font-family:Karma Future;
    src: url(../font/Karma\ Future.otf);
}

* {
    margin:0;
    padding:0;
    font-family: Karma Future;
    font-weight: 100px;
    font-size: medium;
}











