/*css destiné au fichier index.html*/
body{
    background-image: url('../img/Univers.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    position: relative;
   
}

.bonjour{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2vw;
}

.message{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    opacity: 0;
}

input{
    height: 25px;
    width: 250px;
    border-radius: 10px;
}


.container{
    
    display: none;
    height: 100vh;
    width: 60vw;
    margin:  0 auto;
    perspective: 200px;
    z-index: 0;
}


.text-defil{
    position: relative;
    animation: scroll 60s linear forwards
}
.text-defil p{
    font-weight: bold;
    color: yellow;
    font-size: 5vw;
    line-height: 1.5;
    text-align: justify;
    
}

@keyframes scroll {
    from{top: 1000px; transform: translateZ(0px) rotateX(20deg);}
    to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg);}
}

.event1{
    width: 50px;
    height: 50px;
    background-image: url('../client/img/earth.png');
    position: absolute;
}

.event2{
    width: 50px;
    height: 50px;
    background-image: url('../client/img/earth.png');
    position: absolute;
}

