/*css destiné au fichier index.html*/
body{
    
    background-image: url('../img/Univers.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
   
}

/* body {
    margin: 0;
    background: black;
    color: yellow;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
} 

.star-wars-container {
    position: relative;
    perspective: 1000px; 
    height: 100vh;
    overflow: hidden;
}

.scrolling-text {
    position: absolute;
    width: 60%; 
    bottom: -100%; 
    left: 20%; 
}



body {
    margin: 0;
    padding: 0;
    background: black;
    color: yellow;
    font-family: "Arial", sans-serif;
    overflow: hidden; /* Empêche les barres de défilement 
   
}
  */



.bonjour{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2vw;
}

.message{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    opacity: 0;
}

input{
   
    height: 25px;
    width: 250px;
    border-radius: 10px;
}


.container{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 60vw;
    margin:  0 auto;
}

.text-defil p{
    color: yellow;
    font-size: 2vw;
    line-height: 1.5;
    text-align: justify;
   
}

.event1{
    width: 50px;
    height: 50px;
    background-image: url('../client/img/earth.png');
    position: absolute;
}

.event2{
    width: 50px;
    height: 50px;
    background-image: url('../client/img/earth.png');
    position: absolute;
}

