
body{
    background-image: url('../img/thirdUnivers.png');
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Choix{
    background-color: white;
    border: 1px solid;
    height: 20px;
    width: 20px;
}

.terre{
    height: 10vh;
    width: 10vw;
    position: relative;
}