
body{
    background-image: url('../img/thirdUnivers.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.en-tete{
    display: flex;
    justify-content: space-evenly;
}

.choix{
    background-color: white;
    border: 1px solid;
    height: 3vh;
    width: 3vw;
    bottom: 25%;
}


model-viewer{
    display: flex;
    height: 5vh;
    width: 5vw;
    position: relative;
    top: 27%;
    left: 27%
}

.quitter{
    position: relative;
    top: 50%;
    left: 85%;
}

.homme{
    width: 25px;
    height: 25px;
    background-color: blue;
    position: absolute;
}