body{
    background-image: url('../imgParallax/backGround.png');
    background-repeat:repeat-x;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    position: relative;
}


.cas{
    position: absolute;
    background-image: url('../img/cassette.png');
    width: 100vw;
    height: 35vh;
    background-repeat:repeat-x;
    overflow: hidden; 
    top: 65%;
    opacity: 0.5;
}